/*
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

/*=== MEDIA QUERY ===*/
/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.WORK CSS STYLE
* 07.AVAILABLE CSS STYLE
* 08.CONTACT CSS STYLE
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/
/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Rubik:400,600,700");
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  color: #788487;
  position: relative;
} */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Wix+Madefor+Display:wght@400;500;600;700&display=swap");

/* font-family: 'Wix Madefor Display', sans-serif; */
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Lato", sans-serif;
  color: #788487;
  position: relative;
  overflow-x: hidden;
}

p {
  line-height: 28px;
  font-size: 15px;
}

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*="__container"] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 700;
  margin-bottom: 0px;
  color: #ffffff;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}

img {
  max-width: 100%;
}

a:hover {
  color: #635cdb;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 26px;
}

.f-color {
  color: #635cdb;
}

h5.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.no-padding {
  padding: 0;
}

.flaticon {
  display: inline;
}

.mb30 {
  margin-bottom: 30px;
}

/* .section-padding {
  padding: 90px 0px;
} */

.section-heading {
  text-align: center;
  width: 70%;
  margin: 0 auto 60px;
}

.section-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section-title span {
  color: #635cdb;
}

.section {
  padding: 100px 0px;
}

.particles-js-canvas-el {
  display: block;
  /* vertical-align: bottom; */
  position: absolute;
  z-index: 2 !important;
  top: 0;
  width: 100% !important;
  height: 100vh !important;
}

.line {
  width: 50px;
  background: #635cdb;
  height: 1px;
  margin: 10px auto;
}

/*---------- BUTTONS ----------*/
.btn {
  font: 600 10.5px/1;
  display: inline-block;
  padding: 15px 45px 15px 45px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.2s;
  border-radius: 0px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}

.btn-hero,
.btn-white:hover {
  color: #fff !important;
  background: #635cdb;
}

.btn-hero:focus {
  color: #fff !important;
}

.btn-black,
.btn-hero:hover {
  background-color: rgb(0, 0, 0);
  color: #fff !important;
}

.btn-black:hover {
  color: #fff;
  background: #635cdb;
}

.btn-black:focus {
  color: #fff;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-white:focus {
  color: #000;
}

.btn-white:active {
  color: #fff;
}

.btn-trans-black {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
}

.btn-trans-black:hover {
  color: rgb(255, 255, 255);
  background-color: #000;
}

.btn-trans-white {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.95);
}

.btn-trans-white:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-rounded {
  border-radius: 2px;
}

.btn-circled {
  border-radius: 40px;
}

.btn-trans-black:hover {
  background: #635cdb !important;
}

/*---------- COLORS ----------*/
/*-- Background Colors --*/
.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.96);
}

.bg-feature {
  background-color: #635cdb;
}

.bg-primary {
  background-color: #0db8ca;
}

.bg-gray {
  background-color: #f2f4ec;
}

.bg-white {
  background-color: #fff;
}

.d-table {
  width: 100%;
  height: 100vh;
}

.d-table-cell {
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.brown-overlay {
  background: #222955;
  opacity: 0.97;
}

.feature-overlay {
  background: #635cdb;
  opacity: 0.97;
}

/* 
.gr-overlay {
  background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
  opacity: 0.87;
}

========================

==============================*/
.heading {
  margin-bottom: 40px;
}

.heading h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

/*------------------------------------
  MENU NAVIGATION AREA
----------------------------------*/

/* .site-navigation,
.trans-navigation {
  padding: 20px 0px;
}

.site-navigation .navbar-nav a,
.trans-navigation .navbar-nav a {
  text-transform: uppercase;
}

.site-navigation .navbar-nav a.active,
.trans-navigation .navbar-nav a.active {
  color: red;
} */

.header-white {
  position: fixed;
  top: 0px;
  background: #111;
  z-index: 9999;
  width: 100%;
  left: 0;
  transition: all 0.5s ease 0s;
  color: #000 !important;
}

/* .navbar-expand-lg.trans-navigation .navbar-nav .nav-link,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link {
  padding: 0px 24px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link:last-child,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link:last-child {
  padding-right: 0px;
} */

.site-navigation,
.trans-navigation {
  transition: all 0.5s ease 0s;
}

.navbar-brand {
  padding-top: 0px;
  margin-left: 60px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.block ul li span {
  margin-right: 0.5rem;
}

.flag-icon-rus {
  background-image: url(../images/icon/rus.svg);
}

.flag-icon-uzb {
  background-image: url(../images/icon/uzb.svg);
}

.flag-icon-en {
  background-image: url(../images/icon/usa.svg);
}

.flag-icon-es {
  background-image: url(../images/icon/es.svg);
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333em;
  height: 11px;
}

.flag-icon-background,
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

/* @media (max-width: 576px) {
  .navbar-brand {
    margin-left: 0px;
  }
}

.navbar-brand span {
  font-weight: 400;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
  color: #fff;
}

.trans-navigation {
  background: transparent;
} */

/* .trans-navigation.header-white {
  background: #111;
}

.trans-navigation.header-white .navbar-nav .nav-link {
  color: #fff;
}

.trans-navigation.header-white .navbar-nav a.active {
  color: #635cdb;
}

.navbar-brand img {
  max-width: 100%;
}

.trans-navigation.header-white .btn-white {
  background: #635cdb;
  color: #fff;
} */

/* ===============================
 DROPDOWN MENU
================================*/

/* button:focus {
  outline: 0;
}

ul.dropdown-menu li {
  padding-left: 0px !important;
} */

/* @media (min-width: 992px) {
  .dropdown-menu {
    transition: all 0.2s ease-in, visibility 0s linear 0.2s,
      transform 0.2s linear;
    display: block;
    visibility: hidden;
    opacity: 0;
    min-width: 150px;
    transform: translateY(10px);
  }
  .dropdown-menu li:first-child {
    margin-top: 5px;
  }
  .dropdown-menu li:last-child {
    margin-bottom: 5px;
  }
  .dropleft .dropdown-menu,
  .dropright .dropdown-menu {
    margin-top: -5px;
  }
  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    transition: all 0.3s ease 0s;
    opacity: 1;
    transform: translateY(0);
  }
} */
/* @media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
}
.navbar-collapse.show {
  overflow-y: auto;
  max-height: calc(100vh - 100px);
} */

/*------------------------------------
 BANNER AREA
----------------------------------*/
/* .banner-area .content-padding {
  padding: 250px 0px 180px;
} */

/* .content-padding {
  padding: 180px 0px 80px;
} */
.content-banner {
  width: 50%;
  display: flex;
  justify-content: center;
  /* background-image: url(path-to-file/img.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
}

.img-content {
  width: 50%;
}

/* .banner-content {
  padding-right: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
} */

.banner-content .btn {
  margin-top: 15px;
}

.banner-content .banner-title {
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.banner-content .subtitle {
  color: #fff;
  background: #635cdb;
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  color: #635cdb;
}

.banner-content p {
  margin: 20px 0px;
  color: #eee;
  font-size: 18px;
  line-height: 30px;
}

.banner-content .btn {
  margin-right: 12px;
}

.btn-sm {
  padding: 10px 30px;
}

.banner-1 {
  background: url("../images/banner/bg-2.jpg");
  background-size: cover;
  position: relative;
}

.banner-2 {
  background-color: black;
  background-size: cover;
  position: relative;
}

.banner-3 {
  /* background: url("../images/banner/banner-bg.jpg"); */
  background: url("../images/banner/start-page-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

@media (max-width: 576px) {
  .banner-3 {
    background: url("../images/banner/start-page-bg.png");
    /* background: url("../images/banner/banner-bg-mobile.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
}

/* .section-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
} */

.advertising {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.advertising-banner {
  justify-content: center;
  text-align: center;
}
.banner-mob {
  display: none;
}
@media (max-width: 576px) {
  .banner-web {
    display: none;
  }
  .banner-mob {
    display: block;
  }
}

.row-content-saas {
  margin-top: 150px;
}

/* =======================================
INner Pages
=========================================*/
#page-banner {
  position: relative;
  padding: 60px 0px 80px;
}

.page-banner-area {
  background: url("../images/banner/1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

/*-------------------- ------------
 INTRO SECTION
-----------------------------*/
#intro {
  padding-bottom: 0px;
}

.intro-img {
  margin-top: 45px;
}

#intro .section-heading p {
  color: #000;
  font-size: 30px;
  line-height: 40px;
}

.intro-box {
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}

.intro-box h4:before {
  position: absolute;
  left: 0px;
  top: 17px;
  content: "";
  bottom: 0px;
  background: #000;
  width: 50px;
  height: 2px;
}

.intro-box h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 60px;
}

.intro-box span {
  font-size: 28px;
  color: #635cdb;
}

.intro-cta {
  margin-top: 40px;
}

/*--------------------------
  ABOUT SECTION
----------------------*/
.section-pt {
  padding-top: 90px;
}

.section-pb {
  padding-bottom: 90px;
}

#about {
  position: relative;
  padding-bottom: 85px;
}

.about-bg-img {
  position: absolute;
  right: 0px;
  content: "";
  background: url("../images/banner/1.jpg") 50% 50%;
  width: 40%;
  height: 100%;
  max-height: 560px;
  top: 0px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

.about-content {
  margin-top: 94px;
}

.about-content .subtitle {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-content h3 {
  margin-bottom: 25px;
}

.about-list {
  margin-top: 30px;
}

.about-list li {
  width: 45%;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #888;
}

.about-list li i {
  color: #000;
  margin-right: 10px;
}

/* ----------------------
ABOUT PAGE
-------------------------*/
.about-list2 li i {
  margin-right: 10px;
  color: #635cdb;
}

.icon-3x {
  font-size: 3rem;
}

.text-default {
  color: #635cdb;
}

.team-social li a {
  font-size: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #fff;
  display: inline-block;
  padding-top: 3px;
  background: #fff;
}

/* ========================
HISTORY MISSION
==============================*/
.img-block img {
  width: 200px;
}

/* ========================

==============================*/
#section-strategy {
  background: url("../images/bg/bg-1.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.strategy-text {
  margin-bottom: 50px;
}

.strategy-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.strategy-text span {
  font-size: 61px;
  color: #635cdb;
  margin-bottom: 15px;
  display: block;
}

/*--------------------------------
 COUNTER SECTION
-----------------------------*/
.counter {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  line-height: 70px;
  margin: 10px 0px;
  color: #635cdb;
}

.counter-stat i {
  font-size: 40px;
  color: #fff;
  margin-right: 10px;
}

.counter-stat h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.counter-block span {
  font-size: 30px;
}

#counter .dark-overlay {
  background: #000;
  opacity: 0.95;
}

#counter {
  background: url("../images/banner/pattern-3.png") fixed 50% 50%;
  position: relative;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 95px;
}

/*--------------------------
  SERVICE AREA SECTION
----------------------*/
.page-banner-area.page-service {
  background: url("../images/bg/bg-2.jpg") no-repeat;
  background-size: cover;
}

#service-head {
  padding-bottom: 100px;
  padding-top: 90px;
}

#service-head .section-title {
  color: #fff;
}

.text-white p {
  color: #fff;
}

#service {
  margin-top: -100px;
  padding-bottom: 70px;
}

.service-box .service-img-icon {
  width: 100px;
  height: 100px;
  text-align: center;
  background: #fff;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 20px;
  background: #635cdb;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.service-box {
  margin-bottom: 40px;
  background: #fff;
  text-align: center;
  padding: 45px 25px 30px 25px;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.service-inner {
  margin-top: 30px;
}

.service-inner h4 {
  margin-bottom: 20px;
}

.service-inner span {
  color: #635cdb;
}

/* ================================
SERVICE PAGE
==============================*/
.bg-gray {
  background: #f4f4f4;
}

.service-block-2 {
  position: relative;
}

.service-block-2 h4 {
  margin-bottom: 15px;
  line-height: 26px;
}

.service-block-2 p {
  font-size: 16px;
}

.service-block-2 span {
  position: absolute;
  content: "";
  font-size: 70px;
  top: 0px;
  left: 0px;
  font-weight: 800;
  opacity: 0.05;
  margin-top: -15px;
}

.service-style-two {
  background: url("../images/bg/bg-2.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.service-style-two:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.heading {
  margin-bottom: 70px;
}

/*------------------------------------
  PRICING SECTION AREA
--------------------------------*/
#pricing {
  padding-bottom: 100px;
}

.pricing-block {
  text-align: center;
  transition: all 0.3s 0s ease;
  border-radius: 5px;
  border: 1px solid #eee;
}

.price-header {
  padding-bottom: 30px;
  padding-top: 30px;
}

.price-header i {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  font-size: 50px;
  display: inline-block;
  border-radius: 100%;
  transition: all 0.3s ease 0s;
  color: #635cdb;
  border: 1px solid #eee;
}

.price-header .price {
  font-size: 70px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.price-header h5 {
  font-weight: 400;
}

.price-header .price small {
  font-size: 18px;
}

.pricing-block ul {
  padding: 20px 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.pricing-block ul li {
  padding: 6px 0px;
}

.pricing-block .btn {
  margin-bottom: 30px;
}

.pricing-block:hover i {
  background-image: -webkit-linear-gradient(135deg,
      #2f1ce0 0%,
      #53a0fd 50%,
      #51eca5 100%);
  background-image: -linear-gradient(135deg,
      #2f1ce0 0%,
      #53a0fd 50%,
      #51eca5 100%);
  color: #fff;
  border: 1px solid #53a0fd;
}

.pricing-block:hover,
.pricing-block.active {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

#pricing .section-heading {
  margin-bottom: 90px;
}

/* -------------------
PRICING PAGE
--------------------*/
#section-counter .counter-stat i {
  color: #000;
}

#section-counter .counter-stat h5 {
  color: #777;
}

/*------------------------------------
  CLIENT PARTNER AREA SECTION
--------------------------------*/
#clients {
  padding-top: 75px;
  padding-bottom: 80px;
  position: relative;
}

.client-img {
  background: #fff;
}

/*------------------------------------
  TESTIMONIAL AREA SECTION
---------------------------------*/
.author-img img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #ddd;
}

.author-info p {
  margin: 0px;
  font-size: 14px;
}

.carousel-indicators {
  bottom: 0px;
  margin-bottom: 0px;
}

.carousel-indicators li {
  background: #111;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  background: #635cdb;
}

.testimonial-content {
  padding: 0px 40px;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-content .author-text {
  padding-top: 10px;
}

.testimonial-content .author-info {
  display: block;
  margin-bottom: 25px;
}

.testimonial-content p {
  font-size: 20px;
  line-height: 36px;
  color: #222;
  margin: 35px 0px;
  display: block;
}

.author-text h5 {
  text-transform: uppercase;
}

.author-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 36px;
  color: #888;
  margin: 0px;
}

.testimonial-content p i {
  margin: 0px 8px;
}

.carousel-indicators li {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

/*--------------------------
 CONTACT SECTION AREA
----------------------*/
#contact {
  padding-bottom: 100px;
}

.text-color {
  color: #635cdb;
}

input[type="text"],
input[type="email"] {
  height: 50px;
}

.form-control {
  border: 1px solid #eee;
  padding-left: 20px;
}

.form-control:hover,
.form-control:focus {
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}

.input:focus {
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #888;
  opacity: 0.9;
  font-size: 13px;
  padding-left: 10px;
}

.form-control::-moz-placeholder {
  color: #888;
  opacity: 0.9;
  font-size: 13px;
  padding-left: 10px;
}

.form-control:-ms-input-placeholder {
  color: #888;
  opacity: 0.9;
  font-size: 13px;
  padding-left: 10px;
}

.form-control:-moz-placeholder {
  color: #888;
  opacity: 0.9;
  font-size: 13px;
  padding-left: 10px;
}

/* --------------
    MAP
-----------------*/
#map {
  height: 400px;
  width: 100%;
  position: relative;
}

/*--------------------------
 BLOG SECTION AREA
----------------------*/
#blog {
  padding-bottom: 55px;
}

.products-title {
  background-color: #00a1e4;
  padding: 60px 0;
  margin-bottom: 60px;
}

.products-title h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.blog-block {
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

/* .blog-block img {
  margin-bottom: 10px;
} */

.blog-text {
  padding: 20px;
}

.blog-text .author-name {
  font-weight: 400;
}

.blog-text .author-name span {
  margin-right: 10px;
  font-weight: 600;
}

#analytics {
  background: #f5f5f5;
}

.analytics__title {
  margin-bottom: 50px;
}

.analytics__title h3 {
  color: #000;
}

.analytics__text h4 {
  margin-bottom: 20px;
  color: #788487;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.05em;
}

/* .analytics_btn {
  color: #00a1e4;
  position: relative;
  transition: 0.3s ease-out;
}
.analytics_btn:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #2ab0e9;
  content: "";
  transition: width 0.3s ease-out;
} */

.analytics_btn {
  color: #fff;
  background-color: #00a1e4;
  letter-spacing: 0.6px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 30px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #00a1e4;
}

.analytics_btn:hover {
  color: #00a1e4;
  background-color: #fff;
  border: 1px solid #00a1e4;
}

.analytics_btn:hover:after,
.analytics_btn:focus:after {
  width: 100%;
}

.analytics_btn:hover {
  color: #2ab0e9;
}

#analytics .row:last-child {
  padding-bottom: 0 !important;
}

/* 
.analytics__link {
  color: #1aaff5;
  background: -webkit-linear-gradient(to right, #7c70db 0%, #1aaff5 100%);
  background: -moz-linear-gradient(to right, #7c70db 0%, #1aaff5 100%);
  background: linear-gradient(to right, #7c70db 0%, #1aaff5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.analytics_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 40px 60px;
}

.flex-md-row-reverse .analytics_wrapper:before {
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
}

.card-img {
  border-radius: 30px;
}

.blog-block .read-more,
.blog-block span {
  color: #635cdb;
}

/* =================================
BLOG PAGE
===================================*/
.blog-post {
  margin-bottom: 50px;
}

.blog-post img {
  border-radius: 5px;
}

.blog-post .post-author i,
.blog-post .post-info i {
  margin-right: 5px;
  font-size: 14px;
}

.blog-post .post-author span,
.blog-post .post-info span {
  font-size: 14px;
}

.sidebar-widget {
  margin-bottom: 40px;
  padding-left: 20px;
}

@media (max-width: 992px) {
  .sidebar-widget {
    padding-left: 0;
  }
}

.category ul li {
  margin-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.category ul li:before {
  position: absolute;
  content: "\f105";
  left: 0px;
  top: 0px;
  font-family: "Font Awesome 5 Free";
  color: #635cdb;
  font-weight: 900;
}

.tag a {
  text-transform: capitalize;
  padding: 5px 8px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  font-size: 14px;
  display: inline-block;
}

.search i {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 35px;
  margin-top: 15px;
  color: #635cdb;
}

.download a {
  display: block;
  padding: 12px 20px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background: #f2f2f2;
}

.download a i {
  margin-right: 15px;
  color: #635cdb;
}

/* ==================================
BLOG SINGLE
=====================================*/
.quote i {
  font-size: 50px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
}

.quote {
  font-size: 18px;
  line-height: 32px;
  color: #222;
  position: relative;
  margin: 50px 0px;
  padding-left: 70px;
}

.comments img {
  width: 80px;
  height: 80px;
}

/*--------------------------
 FOOTER
----------------------*/
/* #footer {
  padding-bottom: 60px;
  position: relative;
  background: url("../images/bg/2.png");
  border-top: 1px solid #eee;
} */

.footer-widget ul li {
  padding: 5px 0px;
}

.footer-widget p {
  margin-bottom: 5px;
}

.footer-widget h4 {
  margin-bottom: 20px;
}

.footer-widget h4 span {
  color: #635cdb;
  display: block;
  font-size: 60px;
  line-height: 60px;
}

.footer-blog li img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.footer-blog li h5 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

.footer-blog li a.read-more {
  font-size: 13px;
}

.footer-blog li {
  margin-bottom: 15px;
}

.footer-copy {
  letter-spacing: 1px;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #eee;
}

.footer-text h6 {
  margin-bottom: 10px;
}

.footer-text p span {
  color: #000;
}

.footer-text p.mail {
  color: #635cdb;
}

.bg-main {
  background: #f4f8fb;
}

.footer-widget a {
  color: #999;
}

/*-------------------------------
 RESPONSIVE LAYOUT
---------------------------------*/
/*Extra large devices (large desktops, 1200px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

  /*---------------
     NAVIGATION
    ----------------*/
  .navbar-toggler {
    background: #fff;
    border-radius: 0px;
  }

  .navbar-toggler-icon {
    height: auto;
    padding: 5px 0px;
    width: 1rem;
  }

  .trans-navigation {
    background: #23232300;
  }

  .navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    margin-bottom: 10px;
  }

  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }

  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }

  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }

  .about-content {
    margin-top: 60px;
  }

  #about {
    padding-bottom: 40px;
  }

  /*--------------
     COUNTER
    ----------------*/
  .counter-stat {
    margin-bottom: 30px;
    text-align: center;
  }

  /*--------------
     BLOG
    ----------------*/
  .blog-text {
    padding: 0px;
    margin-top: 10px;
  }

  .blog-tex h5 {
    font-size: 15px;
  }

  .blog-text p {
    font-size: 14px;
  }

  .pricing-block {
    margin-bottom: 30px;
  }

  /*--------------
     FOOTER
    ----------------*/
  .footer-widget {
    margin-bottom: 30px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

  /*---------------
     NAVIGATION
    ----------------*/
  .navbar-toggler {
    background: #fff;
    border-radius: 0px;
  }

  .navbar-toggler-icon {
    height: auto;
    padding: 5px 0px;
    width: 1rem;
  }

  .trans-navigation {
    background: #232323;
  }

  .navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    margin-bottom: 10px;
  }

  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }

  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }

  /*----------------
     ABOUT
    ----------------*/
  .about-content {
    margin-top: 60px;
  }

  #about {
    padding-bottom: 40px;
  }

  /*-------------------
     TESTIMONIAL
    -------------------*/
  .testimonial-content {
    padding: 10px;
  }

  /*--------------
     COUNTER
    ----------------*/
  .counter-stat {
    margin-bottom: 30px;
    text-align: center;
  }

  /*--------------
     BLOG
    ----------------*/
  .blog-block {
    margin-bottom: 30px;
  }

  .blog-text {
    padding: 0px;
    margin-top: 10px;
  }

  .blog-block:hover {
    box-shadow: none;
  }

  .blog-text h5 {
    font-size: 16px;
  }

  .blog-text p {
    font-size: 14px;
  }

  .intro-box {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  /*--------------
     CLIENT
    --------------*/
  .client-img {
    text-align: center;
  }

  /*--------------
     FOOTER
    ----------------*/
  .footer-widget {
    margin-bottom: 30px;
  }

  .pricing-block {
    margin-bottom: 30px;
  }

  .img-block img {
    width: 130px;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  /*---------------
     NAVIGATION
    ----------------*/
  .navbar-toggler {
    background: #fff;
    border-radius: 0px;
  }

  .navbar-toggler-icon {
    height: auto;
    padding: 5px 0px;
    width: 1rem;
  }

  .trans-navigation {
    background: #0e0c0c00;
    padding: 20px 15px;
  }

  .navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    margin-bottom: 10px;
  }

  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  #intro .section-heading,
  .section-heading {
    width: 100%;
  }

  #intro .section-heading p {
    font-size: 16px;
    line-height: 28px;
  }

  .section-title {
    font-size: 26px;
    line-height: 36px;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  /*--------------------
     BANNER
    -----------------*/
  .banner-content .banner-title {
    line-height: 37px;
  }

  .banner-content p {
    font-size: 16px;
  }

  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }

  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }

  .about-content {
    margin-top: 60px;
  }

  #about {
    padding-bottom: 40px;
  }

  .img-block img {
    width: 130px;
  }

  .service-block {
    margin-bottom: 20px;
  }

  /*-------------------
     TESTIMONIAL
    -------------------*/
  .testimonial-content {
    padding: 10px;
  }

  /*--------------
     COUNTER
    ----------------*/
  .counter-stat {
    margin-bottom: 30px;
    text-align: center;
  }

  /*--------------
     BLOG
    ----------------*/
  .blog-block {
    margin-bottom: 30px;
  }

  .blog-text {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .blog-tex h5 {
    font-size: 15px;
  }

  .blog-text p {
    font-size: 14px;
  }

  /*--------------
     CLIENT
    --------------*/
  .client-img {
    text-align: center;
  }

  /*--------------
     FOOTER
    ----------------*/
  .footer-widget {
    margin-bottom: 30px;
  }

  .pricing-block {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
.service__container {
  position: relative;
}

/* .service__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 5%;
  right: -27%;
  width: 28.125rem;
  height: 12.5rem;
  background: -o-linear-gradient(
    351.46deg,
    rgba(28, 196, 249, 0.8) 0.72%,
    rgba(254, 105, 254, 0.8) 90.69%
  );
  background: linear-gradient(
    98.54deg,
    rgba(28, 196, 249, 0.8) 0.72%,
    rgba(254, 105, 254, 0.8) 90.69%
  );
  -webkit-filter: blur(105px);
  filter: blur(105px);
  border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
  -webkit-transform: translate(-50%, -50%) rotate(-20deg);
  -ms-transform: translate(-50%, -50%) rotate(-20deg);
  transform: translate(-50%, -50%) rotate(-20deg);
} */

.service__top {
  position: relative;
  z-index: 2;
  margin-bottom: 2.8125rem;
}

.service__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.9375rem -1.875rem;
}

.service__card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  margin-bottom: 1.875rem;
  padding: 0 0.9375rem;
}

.top-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.top-service__column:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
}

.top-service__column:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 55%;
  flex: 0 1 55%;
}

.top-service__title {
  margin-bottom: 0.75rem;
}

.card-service__body {
  padding: 2.375rem 2rem 1.5625rem;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#252532),
      to(#252532)) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat,
    -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), to(transparent));
  background: -o-linear-gradient(#252532, #252532) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat,
    -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 0, transparent 100%);
  background: linear-gradient(#252532, #252532) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat,
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
  position: relative;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* .card-service__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 0,
      #0db9f0 0,
      #0db9f0 1px,
      transparent 1px
    ),
    -webkit-gradient(linear, left top, right top, from(#0db9f0), to(#e85ce9)),
    radial-gradient(
      circle at 0 100%,
      transparent 0,
      #e85ce9 0,
      #e85ce9 1px,
      transparent 1px
    ),
    -webkit-gradient(linear, left top, left bottom, from(#e85ce9), to(#e95de9)),
    radial-gradient(
      circle at 0 0,
      transparent 0,
      #e95de9 0,
      #e95de9 1px,
      transparent 1px
    ),
    -webkit-gradient(linear, right top, left top, from(#e95de9), to(#0cb9f0)),
    radial-gradient(
      circle at 100% 0,
      transparent 0,
      #0cb9f0 0,
      #0cb9f0 1px,
      transparent 1px
    ),
    -webkit-gradient(linear, left bottom, left top, from(#0cb9f0), to(#0db9f0));
  background-image: -o-radial-gradient(
      100% 100%,
      circle,
      transparent 0,
      #0db9f0 0,
      #0db9f0 1px,
      transparent 1px
    ),
    -o-linear-gradient(left, #0db9f0, #e85ce9),
    -o-radial-gradient(0 100%, circle, transparent 0, #e85ce9 0, #e85ce9 1px, transparent
          1px),
    -o-linear-gradient(top, #e85ce9, #e95de9),
    -o-radial-gradient(0 0, circle, transparent 0, #e95de9 0, #e95de9 1px, transparent
          1px),
    -o-linear-gradient(right, #e95de9, #0cb9f0),
    -o-radial-gradient(100% 0, circle, transparent 0, #0cb9f0 0, #0cb9f0 1px, transparent
          1px),
    -o-linear-gradient(bottom, #0cb9f0, #0db9f0);
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 0,
      #0db9f0 0,
      #0db9f0 1px,
      transparent 1px
    ),
    linear-gradient(to right, #0db9f0, #e85ce9),
    radial-gradient(
      circle at 0 100%,
      transparent 0,
      #e85ce9 0,
      #e85ce9 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, #e85ce9, #e95de9),
    radial-gradient(
      circle at 0 0,
      transparent 0,
      #e95de9 0,
      #e95de9 1px,
      transparent 1px
    ),
    linear-gradient(to left, #e95de9, #0cb9f0),
    radial-gradient(
      circle at 100% 0,
      transparent 0,
      #0cb9f0 0,
      #0cb9f0 1px,
      transparent 1px
    ),
    linear-gradient(to top, #0cb9f0, #0db9f0);
  background-size: 1px 1px, calc(100% - 2px) 1px, 1px 1px, 1px calc(100% - 2px);
  background-position: top left, top center, top right, center right,
    bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
} */

/* .card-service__top::after {
  content: "\e901";
  font-size: 0.625rem;
} */

.card-service__image {
  width: 3rem;
  height: 3rem;
  margin-bottom: 3.75rem;
  position: relative;
}

.card-service__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.card-service__title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.3;
}

.card-service__text {
  margin-bottom: 1.25rem;
}

.card-service__link {
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline-block;
  position: relative;
  z-index: 5;
}

.card-service__btn {
  font-weight: inherit;
  letter-spacing: inherit;
}

.card-service__btn span {
  color: #fff;
}

.card-service__btn::before {
  content: "";
  opacity: 1;
  background: rgba(255, 255, 255, 0.06);
}

/* ========from styles======== */
.input-group input.invalid {
  border: 2px solid #ff6868;
}

.intl-tel-input {
  width: 100%;
}

.intl-tel-input {
  position: relative;
}

.input-group label,
.intl-tel-input label {
  position: absolute;
  bottom: -30px;
  left: 0;
  color: #ff6868;
  z-index: 11;
}

.input-group input::placeholder {
  color: #969696;
}

.input-group input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-group input:focus:-moz-placeholder,
.input-group input:focus::-moz-placeholder,
.input-group input:focus:-ms-input-placeholder {
  color: transparent;
}

.input-group textarea {
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 10px;
  width: 100%;
}

.form-submit-btn {
  color: #ffffff;
  background-color: #00a1e4;
  letter-spacing: 0.6px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s ease-in-out;
}

.iti {
  width: 100%;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent;
}

.form-submit-btn:hover {
  color: #0095db;
  background-color: #f6f6f6;
}

@media (any-hover: hover) and (min-width: 47.99875em) {
  .card-service__body:hover .card-service__link {
    opacity: 1;
    visibility: visible;
  }

  .card-service__body:hover .card-service__link .card-service__btn {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .card-service__body:hover::before {
    opacity: 1;
  }

  .card-service__body:hover::after {
    opacity: 1;
  }
}

@media (min-width: 47.99875em) and (any-hover: hover) {
  .card-service__text {
    margin-bottom: 0;
  }

  .card-service__link {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(10%, rgba(37, 37, 50, 0)),
        to(#252532));
    background: -o-linear-gradient(top, rgba(37, 37, 50, 0) 10%, #252532 100%);
    background: linear-gradient(180deg, rgba(37, 37, 50, 0) 10%, #252532 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 61.99875em) {
  .service__content {
    padding-bottom: 7.5rem;
  }

  .card-service {
    position: relative;
  }

  .card-service:nth-child(2) {
    top: 3.75rem;
  }

  .card-service:nth-child(3) {
    top: 7.5rem;
  }

  .card-service:nth-child(5) {
    top: 3.75rem;
  }

  .card-service:nth-child(6) {
    top: 7.5rem;
  }
}

#wptime-plugin-preloader {
  z-index: 99999999999 !important;
}

#wptime-plugin-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/preloader.svg) no-repeat #000000 50%;
  -o-background-size: 64px 64px;
  background-size: 64px 64px;
  z-index: 99998;
  width: 100%;
  height: 100%;
}

.slider-section {
  margin-bottom: 80px;
}

.slider-section-title {
  background-color: #00a1e4;
  padding: 60px 0;
  margin-bottom: 60px;
}

.slider-section-title h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.slick-slider .slick-slide {
  color: #000;
  height: 100%;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
}

.slick-track {
  min-height: 650px;
}

.slick-slide {
  flex-direction: column;
  color: #000;
}

.text-content-slider {
  margin-top: 10px;
  text-align: center;
}

.text-content-slider h3,
.text-content-slider h4,
.text-content-slider p {
  color: #000;
  text-align: center;
}

.text-content-slider a {
  border: none;
  border-radius: 5px;
  padding: 8px 8px;
  font-size: 12px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.slick-slider .slick-slide,
.slick-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
  filter: grayscale(100%) opacity(0.7);
  transform: scale(0.8, 0.8);
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.slick-slider .slick-center,
.slick-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
  transform: scale(1.1);
  filter: none;
}

.slick-slider .slick-current.slick-active {
  filter: none;
  transform: scale(1.1);
}

.slider-container {
  max-width: 1300px;
  margin: 0 auto;
}

.slick-slide {
  width: 390px;
}

.min100vh {
  min-height: 100vh;
}

.send-success {
  display: none;
  text-align: center;
  background-color: #50b046;
  padding: 20px;
}

.send-success p {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .min-vh-100 {
    min-height: auto;
  }

  .analytics__title {
    margin-bottom: 10px;
  }

  .analytics__text h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .analytics__text p {
    font-size: 12px;
    line-height: 24px;
  }

  .analytics__text {
    margin-bottom: 25px;
  }

  .analytics_wrapper {
    min-height: 91%;
    padding: 22px 60px;
  }
}

@media (max-width: 992px) {
  #blog {
    padding-bottom: 80px;
  }

  .text-content-slider h3 {
    font-size: 24px;
  }

  .min100vh {
    min-height: auto;
  }

  .analytics__title h3 {
    font-size: 27px;
  }

  .text-content-slider p {
    font-size: 12px;
    padding: 0 5px;
    line-height: 22px;
  }

  .col-img {
    display: none;
    visibility: hidden;
  }

  .analytics_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 40px;
  }

  .analytics_wrapper {
    min-height: 100%;
  }

  .analytics_btn {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .mb {
    margin-bottom: 20px;
  }

  .slider-container {
    position: relative;
    max-width: 700px;
  }

  .slick-slider {
    width: 80%;
    margin: auto;
  }

  .slick-track {
    min-height: 580px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 22px;
  }

  /* #blog h2 {
    margin-bottom: 40px;
  } */
  h4 {
    line-height: 25px;
  }

  .products-title {
    padding: 30px 0;
  }

  .analytics__text p {
    line-height: 24px;
  }

  .analytics_wrapper {
    text-align: center;
    padding: 30px 30px;
  }

  .analytics__title h3 {
    font-size: 20px;
  }

  .analytics__text h4 {
    font-size: 14px;
  }

  /* .section-padding {
    padding: 40px 0px;
  } */

  .slick-slider .slick-slide {
    margin: 0;
  }

  .slider-section {
    margin-bottom: 0;
  }

  .slider-section-title {
    padding: 30px 0;
  }

  .text-content-slider h3 {
    font-size: 22px;
  }

  .text-content-slider p {
    font-size: 12px;
    padding: 0 5px;
    line-height: 22px;
  }

  .prev-arrow,
  .next-arrow {
    position: absolute;
    top: 0;
    height: 15px;
    width: 15px;
    opacity: 0.7;
    z-index: 11;
  }

  .next-arrow {
    background-image: url("/images/slider/sota-vk/arrow-right-slide.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    right: 50px;
    top: 23%;
  }

  .prev-arrow {
    background-image: url("/images/slider/sota-vk/arrow-left-slide.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    left: 50px;
    top: 23%;
  }
}

@media (max-width: 333px) {
  h1 {
    font-size: 22px;
  }

  .banner-content p {
    font-size: 14px;
  }
}